

/*框架*/
html,body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-size:16px;
}
.wrap{
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}
.content-body{
	background:#29bde0;
	display: flex;
	flex:1;
	height: 100%;
}
.scorllbody{
	overflow: auto;
}
.content{
	
	flex:1;
	height: 100%;

}
header,footer{
	background: #29bde0;
}

header{
	height: 120px;
}

.ht60 {
	height: 60px;
}
footer{
	height:100px;
}
/*布局头部两行，固定上方*/
.vote{
	display: flex;
	flex:1;
	flex-direction: column;

}
.votetop{
	display: flex;
	flex:1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	padding-top:5px;
	margin:0 20px 0 20px;
}
.votetop img{

	width:23px;
	height: 23px;
}
.votetop>span{

	color:white;
	font-size: 20px;
}

.votebottom{
	display:flex;
	flex-direction: column;
	background-color: #b9e9f5;
}	

.tag{ width:100%; height:43px; position:relative; background-color: #b9e9f5;}
.tagtaiben {
	width:100%;
	padding:15px;
	padding-bottom: 0px;
	padding-top:10px;
	display: block;

	

}
.arrow{ position:absolute; width:40px; height:40px; bottom:-40px; left:100px; }
.arrow *{ display:block; border-width:10px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.arrow em{border-color:#b9e9f5 transparent transparent; right:50px;}
.arrow span{border-color:transparent transparent; top:-10px;}

.bcgrey {
	background: #f0f0f0;

}

.dicusskuai {
	position: relative;
	
}
.arrowcenter{
	width:100%;
	display: flex;
	justify-content: center;
}

.arrow-top {
	
	
	width: 0;   
	height: 0;   
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
	border-bottom: 20px solid white; 
	font-size: 0;  
	line-height: 0; 


  }
  

  .arrow-left {
	width: 0;   
	height: 0;
	border-top:10px solid transparent; 
	border-left: 10px solid transparent;
	border-right: 10px solid #29bde0;
	border-bottom: 10px solid transparent;
	font-size: 0;  
	line-height: 0;
	margin-top:10px;
	
  }
  

.misdislay {
	display: none;
	
}


.arrow2{ position:absolute; width:80px; height:80px; top:0px; left:140px; }
.arrow2 *{ display:block; border-width:10px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.arrow2 em{border-color:red transparent transparent; right:50px;}
.arrow2 span{border-color:transparent transparent; top:-10px;}

.bcwhite {
	background:white;
}
.col{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex:1;
	margin:0 17px 0 25px;
	padding-top:5px;
	position: relative;

}
.votebootom {
	
	
}

.coltaiben {
	text-align: center;
	line-height: 33px;
	height: 33px;
	font-size:22px;
	color:#29bde0;
	background-color: #fff;
}

.col img{
	flex:1;
	justify-content: row-reverse;
	width:30px;
	height: 30px;
}



.circle1{
	display: flex;
width: 36px;
height: 36px;
border:1px solid grey;
border-radius: 18px;
margin-left:18px;
align-items: center;
justify-content: center;	
}


.sun>img {
	width:25px;
}
.talkbalen{
	display: flex;
	flex:1;
	flex-direction: row;
	margin-right:40px;
	justify-content: center;
	
}

.taldis {
	text-align: center;
	line-height: 40px;
	color:white;
	font-size:15px;
	width:70%;
	height: 40px;
	background: #29bde0;
}

.tag p{
	position: absolute;
	color:white;
	left:70px;
	bottom:-40px;
	font-size:12px;
}

.votevoteboxrowtaiben{
	background-color: #fff;
	height: 70px;
	padding-top:20px;

	
	
}

/*当中votebox布局*/
.votebox{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:30px;
	
}
.voteboxrow{
	display: flex;
	flex:1;
	flex-wrap: wrap;
	width:300px;
	

}
.voteboxbody{
	
	display: flex;
	flex-direction: column;
	
	align-items: center;
		width:100px;
	height: 103px;

}

.voteboxbody:hover .iconrow{
	display: block;
}

.voteboxchild{
	border: 2px solid #FFF;
	width:68px;
	height:68px;

}

.fb {
	background-color: #83b09a;
	width:64px;
	height: 46px;
	line-height: 46px;
	text-align: center;
}

.vbctop{
	background-color: #f5c97b;
	width:64px;
	height: 46px;
	line-height: 46px;
	text-align: center;

}
.vbcbottom{
	background-color: #83b09a;
	color:white;
	width:64px;
	height: 18px;
	text-align: center;
}
.iconrow{margin-top: 6px;}
.iconrow{
	display: none;
}
.iconrow>a>img{
	width:14px;
	height: 14px;
}



/*foot*/
.btnpos {
	display:flex;
	flex:1;
	height: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.btn2{
	border-radius:20px;
}
.btn{
	display: flex;
	width: 100%;
	margin-top:20px;
	height: 100px;
	border:none;
		
}

.btnvote{
	border-radius:5px;
	background: #fbb435;
	color:white;
	height:45px;
	
	width:148px;	
	
}