/*整体布局*/
$blues:#29bde0;
$grey:#d9d9d9;
$org :#fab344;

.org {
	background: $org;
}


%greyborder {
	border-top: 1px solid $grey;
}


body,html{
	padding: 0;
	margin:0;
	font-size: 16px;
	width: 100%;
	height: 100%;
}

.pro{

	display:inline-block;vertical-align:middle

}
.kuai {
	
	width:0.3rem;
	height: 0.1rem;
	line-height: 0.1rem;
	padding: 0.3rem;
	background: #29bde0
}


.wrap{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header,footer{
	height: 33px;
	background: #29bde0;
}

.content-body{
	display: flex;
	flex:1;
	background: #f0f0f0;
}

.backgroundblue {
	background: $blues;
}

.wrap-site{
	 flex: 1;
     overflow-x: hidden; overflow-y: auto;
     
}
.overroll{
	flex:1;
	overflow-y: scroll;
}
.contentbody{
	flex:1;
	
}


/*head*/

header>img{
	margin-left:5px;
	margin-top:8px;
	width:21px;
	height:15px;
}

/*content*/
.box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.boxtop{
	display: flex;
	flex:1;
	height: 60px;
	background:#29bde0;
	color:white;
	justify-content: space-between;
	align-items:center;
	font-size: 20px;
	padding:0 10px 0 10px;
}

.boxhometop{
	
	display: flex;
	justify-content: center;
    margin:10px;
    height: 300px;
    .htleft{
        width:25%;
        height: 100%;
        background:white;
		font-size:2rem;
		border-right: 1px solid $grey;
        text-align:center;
        .shupai{
            margin:80px auto;width:30px;line-height:30px;
        }
    }
    .htright {
        
        width:75%;
        height: 100%;
		
		display: inline-block;
        .htrightt{
            background:white;
			height: 86%;
			.fapailist{
				width:100%;
				padding:0;
				display: flex;
				flex-direction: row;
				justify-content: center;
				
				ul {
					
				
					
					li{
						
						margin:0px;
						margin-top:20px;
						font-size:19px;
						color:$blues;
						span {
							color:grey;
							font-size:1.5rem;
						}
					}
					li:nth-child(odd){
						color:#fab344;
					}
				}
			}
			
        }
        .htrightb{
			color:$blues;
            background:white;
			height: 14%;
			text-align: center;
			line-height: 45px;
			font-size:1.5rem;
			@extend %greyborder;
			vertical-align: middle;
			
		
		}
	
	}
	
}
.boxhome{
	display: block;
}
.boxhome2{
	display: none;
}

.boxhomemiddle{
		margin:10px;
		margin-bottom: 0px;
		margin-top:0px;
		height: 35px;
		background: white;
		
	
	input {
		width:100%;
		height: 100%;
		border:none;
		padding-left:5%;
		
	}
	input::-webkit-input-placeholder { /* WebKit browsers */ 

		color: $grey; 
		font-size:17px;
		
		} 
	.bgreytop {
		border-top:1px solid $grey;

	}
		
}

.boxhomebottom {
	margin:10px;
	height: 90px;
	background: white;
	.bottomtile {
		padding:10px;
		font-size:15px;
		font-weight: 400;
		input{
		width:2rem;
		border:none;
		margin:0 10px 0 10px;
		background: $grey;
	}
	}

}

.fapai {
	margin:10px;
	height: 70px;
	font-size:30px;
	color:white;
	text-align: center;
	line-height: 70px;
	background: orange;
}


///fanpai1.html

.haomacir {
	
	width: 40px;
	
	font-size:20px;
  	height: 40px;
  	line-height: 40px;
  	text-align: center;
  	display: inline-block;
  	background: white;
  	text-decoration: none;
	color: #f56b81;
	border-radius: 50%;
	border:1px solid orange;
}


.fanresult {
	height: 350px;
	margin:25px 30px 25px 30px;
	background: #ffedc5;
	border:3px white solid;
	display: flex;
	flex-direction: column;
	align-items: center;


	div{
		margin-top:-20px;
		
	img{
		margin-top: 40px;
		height: 200px;
		width:200px;
		
	}
	
}
	.ziduan {
			color:$blues;
			
			margin-top:10px;
			font:24px bold;
		}
	.ziduan2 {
		color:#f56b81;
		font:24px bold;
		margin-top:5px;
	}
}

.fanpaiq{

	height: 40px;
	margin:25px 30px 0 30px;
	background: #fbb435;
	text-align: center;
	line-height: 40px;
	font-size:20px;
	color:white;
	
}

.fanpaiq2{
	height: 40px;
	margin:25px 30px 0 30px;
	background: #fbb435;
	text-align: center;
	line-height: 40px;
	font-size:20px;
	color:white;
	display: none;	
}
